$info: #456990;
$white: #fff;
$dark: #5fc5e7;
$blue: #e46e6e;
$green: #63eba7;
$red: #df6969;

@import '~bootstrap/scss/bootstrap';

body {
  background-color: #b7e0ff;
}
.navbar {
  font-weight: bold;
}

.sign-in, .sign-up, .scores {
  font-weight: bold;
}

.gameboard {
  background-color: white;
  height: 550px;
  width: 550px;
  margin: 50px auto;
  display: grid;
  grid-template-rows: repeat(20,1fr);
  grid-template-columns: repeat(20, 1fr);
  border: 2px solid #4fb5ff;
  border-radius: 5px;;
}

.view-score {
  display: grid;
  margin: 50px auto;
  padding: 20px;
  height: 550px;
  width: 550px;
  border: 2px solid #4fb5ff;
  border-radius: 5px;
  background-color: lightpink;
}

.scores {
  display: flex;
  justify-self: center;
  padding: 0px;
}

.snake {
  display: grid;
  align-content: center;
  margin: 0 auto;
  background: palegreen;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 5px;
}