$info: #456990;
$white: #fff;
$dark: #5fc5e7;
$blue: #e46e6e;
$green: #63eba7;
$red: #df6969;

@import '~bootstrap/scss/bootstrap';

body {
  background-color: #b7e0ff;
}
.navbar {
  font-weight: bold;
}

.sign-in, .sign-up {
  font-weight: bold;
}

// .gameboard {
//   background-color: lightgrey;
//   height: 300px;
//   width: 300px;
//   display: grid;
//   grid-template-rows: repeat(20,1fr);
//   grid-template-columns: repeat(20, 1fr);
// }